<% provide(:title, "about") %>

<h3 class="indent">Academic</h3>
<div class="thumb">
  <div class="image">
    <img src="/assets/SSHS.jpg" alt="SSHS"/>
  </div>
  <div class="content">
    <%= t "works.SSHS_html" %>
  </div>
  <div class="clear"></div>
</div>

<div class="thumb">
  <div class="image">
    <img src="/assets/MIT.jpg" alt="MIT"/>
  </div>
  <div class="content">
    <%= t "works.MIT_html" %>
  </div>
  <div class="clear"></div>
</div>



<div class="thumb">
  <div class="image">
    <img src="/assets/csail.jpg" alt="MIT CSAIL"/>
  </div>
  <div class="content">
    <%= t "works.CSAIL_html" %>
  </div>
  <div class="clear"></div>
</div>

<br>

<h3 class="indent">Extracurricular Activities</h3>
<div class="thumb">
  <div class="image">
    <img src="/assets/UNIFIL.jpeg" alt="UNIFIL logo"/>
    <img src="/assets/lebanon.jpg" alt="me"/>
  </div>

  <div class="content">
    <%= t "works.UNIFIL_html" %>
  </div>
  <div class="clear"></div>
</div>

<div class="thumb">
  <div class="image">
    <img src="/assets/KSA.jpg" alt="MIT KSA"/>
  </div>
  <div class="content">
    <%= t "works.KSA_html" %>
  </div>
  <div class="clear"></div>
</div>

<div class="thumb">
  <div class="image">
    <img src="/assets/logo_min.jpg" alt="MIT Oori"/>
  </div>
  <div class="content">
    <%= t "works.OORI_html" %>
  </div>
  <div class="clear"></div>
</div>


